---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="grid" id="projectsgallery">
    {% assign myCollection = site.collections | where: "label", "projects" | first %}
    {% for file in myCollection.files %}
      {% assign modifiedpath = file.path | replace_first: "_projects", "/projects" %}
      {% if file.name contains 'cover.' %}
        {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}
        
          {% assign modifiedpathsplits = modifiedpath | split: "/" %}
          {% assign imageProjectPath = "" %}
          {% for splt in modifiedpathsplits %}
            {% if forloop.first == true %}
              {% assign imageProjectPath = imageProjectPath | append: splt %}
            {% elsif forloop.last == false %}
              {% assign imageProjectPath = imageProjectPath | append: "/" | append: splt %}
            {% endif %}
          {% endfor %}
          {% assign imageProjectPath = imageProjectPath | append: "/writeup.html"  %}
        
          <div class="grid-item">
            <a href="{{ imageProjectPath | relative_url }}">
              <img src="{{ modifiedpath | relative_url }}" />
            </a>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  <script>
    $(document).ready(function () {
      var $grid = $('.grid').masonry({
        itemSelector : '.grid-item',
        columnWidth : 100
      });
    
      $grid.imagesLoaded().progress( function() {
        $grid.masonry('layout');
      });
    })
  </script>
</div>