---
layout: default
support: [jquery, gallery]
---

<h1>{{ page.title }}</h1>

{{ content }}

<div class="galleria">
{% assign pageurl = page.url | replace: 'writeup.html', '' %}
{% assign allfiles = site.collections | where: "label", "projects" | first %}
{% assign sortedfiles = allfiles.files | sort: "name" %}
{% for file in sortedfiles %}
  {% assign modifiedpath = file.path | replace_first: "_projects", "/projects" %}
  {% if modifiedpath contains pageurl %}
    {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}
    <img src="{{ modifiedpath | relative_url }}" />
    {% endif %}
  {% endif %}
{% endfor %}
</div>

<script>
  $(document).ready(function () {
    (function() {
        Galleria.run('.galleria');
    }());
  })
</script>
